.main__contactenos{
    @include flex(center);
    margin-left: .6em;
    background: #fff;
    .Contactenos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,50px) 1fr;
        width: 53.125em;
        margin: 0 auto;
        margin-top: 3.125em;
        &__titulo{
            grid-column: 1/3;
            grid-row: 1/1;
            font-size: 2em;
            font-weight: bold;
            color: $tituloVerde;
            border-bottom: 1px $tituloVerde solid;
        }
        &__sugerencias{
            grid-area: 3/1;
            margin-bottom: 2.5em;
            .sugerencias__titulo{
                font-weight: bold;
                color: $tituloRojo;
                border-top: 1px rgba(125,125,125,1) solid;
                border-bottom: 1px rgba(125,125,125,1) solid;
                padding-top: 7px;
                padding-bottom: 7px;
                margin-right: 20px;
                margin-bottom: 1em;
            }
            .form__label{
                display: block;
            }
            .form__input , .form__Destinatario{
                width: 23em;
            }
            
            textarea{
                display: block;
                width: 90%;
            }
            .botonSugerencia{
                @include boton();
            }
        }
        .establecimientos{
            grid-area: 3/2;
            .establecimiento{
                .sugerencias__titulo{
                    color: $tituloRojo;
                    font-weight: bold;
                }
                &__parrafo{
                    width: 18.75em;
                    margin-left: .5em;
                    margin-bottom: 5px;
                }
                .mapa{
                    margin-top: 1em;
                    margin-bottom: 2em;
                    width: 90%;
                }
            }
        }

    }
}