

 .c2{
    background: green;
}
.lineaTemporal__contenedor{
    top: 0;
     height: 9.5em;
     @include flex(center);
    .contenedor__linea{
        &::before{
            content: '';
            position: absolute;
            height: 9em;
            width: 2px;
            margin-left: -.2em;
            background-color:#000;
            margin-top: -2px;
        }
        .linea__lista{
            list-style-type: disc;
            font-size: 2em;
            padding-left: .6em;
         
            .lista__contenido{
                margin-bottom: 20px;
                .contenedor__lineatemporal{
                    margin-left: -.4em;
                    .contenido__ref{
                        color: $tituloVerde;
                        &--titulo{
                            font-weight: bold;
                            font-size: .7em;
                            &::first-letter{
                                color:$tituloRojo
                            }
                        }
                    }
                }
            }
        }
    }
}