/* para revisar 
.pregFrecuentes{
    width: 100%;
    &__decoracion{
        background-image: url(../imagenes/paraPregFrecuentes.jpg);
       background-size: cover;
        background-position: center;
    }
}*/