.muestra__titulo{
    display:block;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
   } 
.recetas__muestra{
   @include flex(center);  
   
}

.contenedor__ingredientes{
    @include flex(center);
    flex-direction: column;
    .ingredientes__caja{
        background: $Fondo;
        border-radius: 5px;
        padding: 2em 5em;
        &--titulo{
            color: $tituloVerde;
            &::first-letter{
            color: $tituloRojo;
             } 
        }
        &--lista{
            font-size: 1.2em;
            list-style:disc;
        }
    }
    
}
.receta__video
{
    height: 35em;
    
}