$coloresRedes:(
    Fb: #3b5999,
    yt: rgb(250, 0, 0),
    inst: #e4405f
);

$Fondo :rgb(225,225,140);
$tituloRojo: rgb(250, 0, 0);
$tituloVerde: rgb(0, 128, 0);

@mixin flex ($justify){
    display: flex;
    justify-content: $justify;
}


@mixin flexWrap ($justify){
    display: flex;
    justify-content: $justify;
    flex-wrap: wrap;
}

@mixin iconos ($color){
    background:$color;
    color: #fff;
    border-radius: 5px;
    padding:  .8em;
}

@mixin boton(){
    color: #000;
    background: linear-gradient(90deg, rgba(231,241,127,1) 0%, rgba(237,234,142,1) 0%, rgba(236,210,56,0.7343312324929971) 100%);
    width: 12.5em;
    font-size: 1em;
    border-radius: 0.3em;
    border: .1px #000 solid ;
    margin-top: 20px;
    display: block;
}


@mixin galeria($columnas){
    display: grid;
    grid-template-columns: repeat($columnas,200px);
    grid-auto-rows: 200px;
    gap: 40px;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

@mixin btnRedes($color){
  @include flex(center);
  height: 3em;
  background-color: #fff;
  position: relative;
  transition: all .6s;
  align-items: center;
  padding-bottom: 3px;
  color: $color;
  grid-column: 1;
  grid-row: 1;
}

@mixin btnBefore{
  background-color: transparent;
  font-size: 1.1em;
  font-weight: 700;
  transition: all .3s;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

@mixin btnAfter($color){  
  background-color: transparent;
  font-size: 0;
  opacity: 0;
  font-weight: 700;
  color: $color;
  transition: all .6s;
  transform: translateX(60px);
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}