.main__detallesProd{
   
   display: flex;
   justify-content: center;
}



.columna1{
   display: flex;
   justify-content: center;
   align-items: center;
   background-position: center center;
   
   
}
.columna2{
   &__titulo{
      color: $tituloRojo;
   }
   &__parrafo--descripcion{
      font-size: .9em;
   }
   &__parrafo--especifidades{
      font-size: .8em;
      text-align: center;
      background: #ddd;
      margin-top: 1em;
   }
}
.tabla{
   border: 1px $tituloVerde solid;
   &__columna{
      
      .celda1, .celda2  , .celda3{
         border: 1px $tituloVerde solid;
         font-family: 'Cormorant Garamond', serif;
         font-family: 'Dancing Script', cursive;
         font-family: 'Lora', serif;
      }
      .celda2__titulo  , .celda3__titulo,.celda1{
         font-weight: bold;
         
      }
   }
}