footer{
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 2em;
    border-top: 1px $tituloVerde solid;

    .Seguinos{
        font-size: 1.3em;
        margin-bottom: .8em;
    }

    .iconosRedes{
        @include flex(center); 
        list-style: none;
        gap: .9em;

            &--lista a {   
                color: #fff;
                background: #333;
                padding:  .8em;
                transition: .6s;
                display: inline-block;
                width: 2.5em;
                border-radius: 5px;

                
            }
    
        &:hover a{
        filter: blur(2px);
        }
    }
    
    .iconosRedes--lista a:hover
    {   transform: translateY(-4px) scale(1.05);
        box-shadow: 0 5px 5px 0 rgb(0, 0,0, .5);
        filter: none;
    }

    .fb:hover{
        background: map-get($coloresRedes,Fb );
    }
    .yt:hover{
        background: map-get($coloresRedes,yt );
    }
    .inst:hover{
        background: map-get($coloresRedes,inst );
    }

}