*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.headerLogo{
    text-decoration: none;
    color:#a0a0a0;
}
/************************************************************************************************************/

header {
    background: url(../imagenes/body.png) repeat-x 0 0 scroll transparent;
    height: 7.55em;
    width: 100%;
    
}
main{
    background: rgb(225,225,140);
}
/*******barra de navegacion************/
.navResponsive
{
    display: none;
}
.BarraNavegacion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
 
}
.BarraNavegacion__logo{
    margin-right: 2em;
    display: flex;
}
.logo__img{
    height: 6.9em;
}

.menu{  
    display: flex;
    flex-direction: row;
    list-style: none;
}
.Conocenos .Productos .Recetas .Pregfrecuentes .ContactenosN{
    margin-right: 10px;
}

.menu__caja{
    background: linear-gradient(360deg, rgba(0,0,0,1) 15%, rgba(14,14,14,1) 55%, rgba(125,125,125,1) 100%);
    padding-top: 1.87em;
    padding-bottom: .5em;
    text-align: center;
    border-bottom-left-radius: .625em;
    border-bottom-right-radius : .625em;
    margin-left: 10px;
}

.menu__caja:hover{
    background: linear-gradient(360deg, rgba(181,10,10,1) 15%, rgba(181,14,14,1) 55%, rgba(125,125,125,20)95%);
    padding-top: 2.81em;
    padding-bottom: .2em;
    text-align: center;
    border-bottom-left-radius : .625em;;
    border-bottom-right-radius : .625em;;
    transition: 0.5s;
}

.link {
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.15em;
    text-decoration: none;
}
.Conocenos .menu__caja{
  width: 5.1em;
}
.Productos .menu__caja{
    width: 5em;
}  
.Recetas .menu__caja{
    width: 4.7em;
}

.ContactenosN .menu__caja{
    width: 5.7em;
}
.Pregfrecuentes .menu__caja{
    width: 6.5em;
}
/*************************termina el disenio del menu nav********************/


/**************************index**************************************************/
/**********************carrusel*/
.contenedor__carrusel
{
    background: rgb(225,225,140);
}

.carrusel__imagenes{
    height: 400px;
    object-fit: contain;    
}
/**************novedades****************/
.novedades__titulo{
    text-align: center;
}
.novedades__caja{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.caja__acordeonPadre{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.caja__acordeonHijos{
    background: rgb(225,225,140);
    width: 400px;
}
.acordeonHijos__ico{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.acordeonHijos__ico--fb{
    background: #3b5999;
    color: #fff;
    width: 2.5em;
    border-radius: 5px;
    padding:  12px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0, .2);
}
.novedades--Fb{
    margin-left: -20px;
    margin-top: -16px;
    
}

.acordeonHijos__pfb{
    background: #fff;
    width: 400px;
}


.pruebaInsta{
    height: 35em;
    width: 399px;
    margin-left: -20px;
    margin-top: -72px;
}


.acordeonHijos__ico--ins{
    background: #e4405f;
    color: #fff;
    width: 2.5em;
    border-radius: 5px;
    padding:  12px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0, .2);
}

/*****************************************FIN DE INDEX*******************************************************/










/************************PRODUCTOS*****************/

.imagenBorrosa{
    filter: blur(5px);
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 100;
}
.imagenMuestra{
    position: relative;
    z-index: 200;
    height: 400px;
}
.contenedorMuestra{
    width: 100%;
    display: flex;
    justify-content: center;
}


.contenedor__galeria
{
    display: flex;
    justify-content: center;
    background: rgb(225,225,140);
    flex-direction: column;
    flex-wrap: wrap
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-auto-rows: 200px;
    gap: 40px;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.galeria__box{

    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


.box__link{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(125,125,125,.4);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    text-align: center;
    color: #000;
}
.box__nombre{
    margin-top: 45%;
}

.galeria__box:hover>.box__link
{    
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition:.9s;
}




/************************FIN PRODUCTOS*****************/




/*Preguntas Frecuentes*****************************************************************************************************/
.pregFrecuentes{
    display: flex;
    justify-content: end;
}
.pregFrecuentes__decoracion{
    background: red;
    width: 100%;

}
.pregFrecuentes__preguntas{
    width: 50%;
    display: flex;
}


.acordeon{
    width: 100%;
}

/*contactenos*********************************************************************************************************/
.main__contactenos{
    
    display: flex;
    justify-content: center;
    margin-left: 10px;
    background: #fff;
}


.Contactenos
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 50px 50px 1fr;
    width: 850px;
    margin:0 auto;
    margin-top: 50px;
}
.Contactenos__titulo{
    grid-column: 1/3;
    grid-row: 1/1;  
    font-size: 2em;
    color: rgb(250, 0, 0);
    border-bottom:1px rgb(0,128,0) solid;
}
.Contactenos__sugerencias{
    grid-area: 3/1;
    margin-bottom: 2.5em;
}

.form__label{
    display: block;
}
.form__input , .form__Destinatario{
    width: 23em;
}

textarea{
    display: block;
    width: 90%;
}
.botonSugerencia{
    color: #000;
    background: linear-gradient(90deg, rgba(231,241,127,1) 0%, rgba(237,234,142,1) 0%, rgba(236,210,56,0.7343312324929971) 100%);
    width: 12.5em;
    font-size: 1em;
    border-radius: 0.3em;
    border: .1px #000 solid ;
    margin-top: 20px;
    display: block;
}


.sugerencias__titulo{
    border-top: 1px rgba(125,125,125,1) solid;
    border-bottom: 1px rgba(125,125,125,1) solid;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 20px;
    margin-bottom: 1em;
}

.establecimientos{
    grid-area: 3/2;
}
.establecimientos .sugerencias{
    color: rgb(250, 0, 0);
}

.establecimiento__parrafo{
    width: 300px;
    margin-left: .5em;
    margin-bottom: -5px;
}


.mapa{
    margin-top: 1em;
    margin-bottom: 2em;
    width: 90%;
}



/************************fin de contactos**************************/


/*********************************Conocenos************************************/

.main__empresa{background: #fff;}

.empresa{
    display: grid;
    grid-template-columns: 120px 1fr;
    width: 850px;
    margin: 0 auto;
    }


    .lineaTemporal
    {
            grid-column: 1;
            display: flex;
            justify-content: center;
    }
        
    
    .lineaTemporal/*lineaTemporal*/
    {
        display: flex;
        justify-content: end;
        position:sticky;
        height: 150px;
        top: 0; 
    }
    .lineaTemporal__contenedor{/*lineaTemporal__contenedor*/
        display: flex;
        }
    .contenedor__linea{/*contenedor__linea*/
    
        margin:0 auto ;
        position:relative;
    
    }
    .contenedor__linea::before{/**/
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        margin-left: 10.2px;
        background-color:#000;
    
    }
    
    .contenedor__linea ul{/**/
        list-style-type: style disc;
        font-size: 26px;
    }
    
    .linea__lista .lista__contenido{/**/
        margin-bottom: 20px;
    
    }

    .contenido__ref{/**/
        color: green;
        text-decoration: none;
    }
    .contenido__ref--titulo{/**/
        margin-left: -7px;
    }
    /**/
    .contenido__ref--titulo::first-letter{
        color:red;
        
    }


    .empresaContenedor
    {
        display: flex;
        justify-content: start;
        grid-column: 2;
    }
    .historia{
    
        margin-bottom: 50px;
    }
    
    .historia__titulo{
        margin-top: 20px;
        display: flex;
        font-size: 2em;
        padding-bottom: 10px;
        color: rgb(250,0,0);
        border-bottom: 1px rgb(0,128,0) solid;
        /*color rojo*/
    }
    
    .historia__subTitulo
    {
        color: rgb(0,128,0);
        display: flex;
        align-items: center;
        font-size: 25px;
        margin-left: 10px;
    }
    /*verde*/
    .historia__TituloNuestros{
    
        margin-top: 1em;
        color: rgb(250, 0, 0);
    }
    /*rojo*/
    
    
    .historia__empresa{
        width: 650px;
        float: left;
    }
    
    .historia__empresa__ayer{
        float: right;
        margin: 0px 0px 0px 0.4375em;
        padding: 0px 0px 0px 5px;
    }
    
    .historia__empresa__hoy{
        float: left;
        width: 21.875em;
        height: 14.375em;
        margin-left: -0.5px;
        padding-left: 0;
        margin-right: 1em;
    }
    
    .video
    {
        width: 100%
    }
    

.imagenProd{
    filter: blur(4px);
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 0;
}
.cajaimg1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.imagenProd2{
    height: 400px;
    z-index: 100;
    
}

.col
{
    border:1px #000 solid
}
.tamancol{
    width: 200px;
    height: 200px;
}
.imgcol{
    width: 200px;
    height: 200px;

}







/*************************historia*************************/

    
    


/**********************************************************************MEDIA QUERY*********************************************************************/
@media only screen and (max-width: 915px) {
    /*PRODUCTOS*/
    .galeria{
       
        grid-template-columns: repeat(3,160px);
       
    }
    /***********/
}
@media only screen and (max-width: 850px) {
    /*PRODUCTOS*/
    .empresa{
       width: auto; 
    }
    /***********/
}


@media only screen and (max-width: 794px) {
    /*barra de navegacion*/
    .BarraNavegacion{
        display: none;
    }
    .navResponsive{
        display: flex;
    }
    .caja--logo{
        height: 110px;
        margin-top: -15px;
    }
    .logoNav{
        color: #000;
        border-radius: 5px;
        padding: 15px;
        font-size: 2em;
    }
    /*barra de navegacion*/

    /*contactenos*/
    .Contactenos{
        grid-template-columns: 1fr;
    }
    .establecimientos{
        grid-area: 4/1;
    }
  
    /*contactenos*/
    
/************** historia */

.historia__empresa{
    width: 100%;
}

}


@media only screen and (max-width: 480px) {
    /*PRODUCTOS*/
    .historia__empresa__hoy{
       width: 20em;
    }
    /*PRODUCTOS*/
}


@media only screen and (max-width: 420px) {
    /*PRODUCTOS*/
    .empresa{
        display: block;
    }
    .lineaTemporal{
        background: #fff;
        padding-bottom: 20px;
    }
    /*PRODUCTOS*/
}

@media only screen and (max-width: 414px) {
    /*PRODUCTOS*/
    .galeria{
       
        grid-template-columns: repeat(2,160px);
       
    }
   

    /*PRODUCTOS*/
}


@media only screen and (max-width: 400px) {
    /*index*/
    .novedades__caja{
        justify-content: end;
    }
    /*index*/
}


@media only screen and (max-width: 300px) {
    /*PRODUCTOS*/
    .galeria{
       
        grid-template-columns: repeat(1,160px);
       
    }
   

    /*PRODUCTOS*/
}


/*************preueba para conocenos*******************/


/*************FOOTEEEEEEEr*********************/
footer{
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0 auto;
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px rgb(0,128,0) solid;
}

.Seguinos{
    
 font-weight: bold;
}

.iconosRedes{
    text-align: center;
    justify-content: center;
    margin-left: -30px;
    list-style: none;
}

.iconosRedes--lista
{
    margin: 0.625em 0.625em;
}

.iconosRedes--lista a {
    
    color: #fff;
    background: #333;
    padding:  12px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0, .2);
    transition: .2s;
    display: inline-block;
    width: 2.5em;
    border-radius: 5px;
}
.iconosRedes:hover a{
   filter: blur(2px);
}

.iconosRedes--lista a:hover
{   transform: translateY(-4px) scale(1.05);
    box-shadow: 0 5px 5px 0 rgb(0, 0,0, .5);
    filter: none;
}

.fb:hover{
    background: #3b5999;
}
.yt:hover{
    background: rgb(250, 0, 0);
}
.inst:hover{
    background: #e4405f;
}

.iconosRedes{
    display: flex;
}